.book-details-container {
  padding: 30px;
}

.book-details-card {
  display: flex;

  gap: 30px;

  align-items: flex-start;

  max-width: 1000px;

  margin-top: 40px;

  background-color: white;

  padding: 30px;

  border-radius: 15px;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.details-image {
  width: 250px;

  border-radius: 10px;
}

.details-content {
  max-width: 700px;
}

.details-title {
  font-size: 32px;

  margin-bottom: 10px;
}

.details-author {
  color: gray;

  font-size: 18px;
}

.details-description {
  margin-top: 20px;

  line-height: 1.8;
}

.status-text {
  color: blue;

  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .book-details-card {
    flex-direction: column;
  }

  .details-image {
    width: 100%;
  }
}
